{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <div style="text-align: justify;">
    <!-- Rendering blog post content -->
    {{ render_blog_post(this) }}
    <!-- Rendering images -->
    <h2 style="text-align: center;">Gallery</h2>
    {% for image in this.attachments -%}
      <p style="text-align: center;">
        <img src="{{ image|url }}" width=600>
      </p>
    {% endfor %}
    <!-- Rendering links to tags page -->
    <div class="tags">
      <h3>All posts tagged:</h3>
      <ul>
        {% for t in this.tags -%}
          <li>
            <a href="{{ ('/blog@tag/' ~ t.lower())|url }}">
            {{ t }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}