{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div style="text-align: justify;">
  {{ render_blog_post(this) }}
    <!-- this should render links to tags page-->
    <div class="tags">
    <h3>All posts tagged:</h3>
    <ul>
     {% for t in this.tags -%}
     <li>
       <a href="{{ ('/blog@tag/' ~ t.lower())|url }}">
         {{ t }}
       </a>
     </li>
     {% endfor %}
    </ul>
    </div>
  </div>
{% endblock %}